@page "/kategorijos/{tagName}"
@model BoardEx.Web.Pages.Tags.DetailsModel
@{
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            <h2 class="mb-5 display-3">Skelbimai</h2>

            <div class="mb-5">
                @if (Model.Tags != null && Model.Tags.Any())
                {
                    foreach (var tag in Model.Tags)
                    {
                        <a href="/kategorijos/@tag.Name">
                            <span class="badge bg-dark">@tag.Name</span>
                        </a>
                    }
                }
            </div>

            @if (Model.Boards != null && Model.Boards.Any())
            {
                foreach (var boardAd in Model.Boards)
                {
                    <div class="mb-5 bg-light box-shadow">
                        <img src="@boardAd.FeaturedImageUrl" alt="@boardAd.Name" class="mb-2 d-block img-fluid" />
                        <div class="px-4 py-4">
                            <h2 class="mb-2">@boardAd.Name</h2>
                            <p>
                                Autorius: @boardAd.Author
                                <br />
                                Skelbimas įkeltas: @boardAd.PublishedDate.ToShortDateString()
                            </p>
                            <p class="mb-2">@Html.Raw(boardAd.Content)</p>
                            <a href="/skelbimai/@boardAd.UrlHandler" class="btn btn-dark">Žiūrėti daugiau</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>