@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container jumbotron col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6 ">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                BoardEx
            </h1>
            <p class="lead">
                Stalo žaidimų keitimosi platforma.
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/776654/pexels-photo-776654.jpeg?cs=srgb&dl=pexels-ylanite-koppens-776654.jpg&fm=jpg"
                 class="d-block mx-lg-auto img-fluid" width="400" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            <h2 class="mb-5 display-3">Skelbimai</h2>
            <br/>

           

            @if (Model.Boards != null && Model.Boards.Any())
            { 
                <div class="mb-5">
                @if (Model.Tags != null && Model.Tags.Any())
                {
                    foreach (var tag in Model.Tags)
                    {
                        <a href="/kategorijos/@tag.Name">
                            <span class="badge bg-dark">@tag.Name</span>
                        </a>
                    }
                }
                </div>
                foreach (var boardAd in Model.Boards)
                {
                    
                    <div class="card card-border-css mb-5 bg-light box-shadow">
                        <img src="@boardAd.FeaturedImageUrl" alt="@boardAd.Name" class="mb-2 d-block img-fluid" />
                        <div class="card-body card-header-color px-4 py-4">
                            <h2 class="mb-2">@boardAd.Name</h2>
                            <p>
                                Autorius: @boardAd.Author
                                <br />
                                Skelbimas įkeltas: @boardAd.PublishedDate.ToShortDateString()
                            </p>
                            <p class="mb-2">@Html.Raw(boardAd.Content)</p>
                            <a href="/skelbimai/@boardAd.UrlHandler" class="btn btn-dark">Žiūrėti daugiau</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>